*{
    padding: 0;
    margin: 0;
    
}
.header{
    height: 100%;
    /* width: 100%; */
    padding: 20px;
    background: linear;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: black;
    background-image: url(banner1.jpg);





}

.header img{
    width: 170px;
    float: left;

}
.login-btn{
    width: 100px;
    /* padding: 0 0; */
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;

    

}
.header h1{
    padding-top: 300px;
    padding-bottom: 10px;
    font-size: 55px;
    /* left: 50%; */
    /* top: 20%; */

}
.header p{
    margin: 5px 0;

}
.input-group{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    /* padding: 2px; */

}
.form-control{
    border: 0 !important;
    border-radius: 30px 0 0 30px !important;

}
.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
     border: 0 !important; 
    color: #fff;
    
    border-radius: 30px !important;
    box-shadow: none !important;
} 
.features{
    padding: 80px 0;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.features img{
    width: 100%;

}
.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px;
    position: absolute;
    left: 20px;
    bottom: -25px;
}
.feature-img{
    position: relative;

}
.rating{
    padding: 3px;
    float: right;
    color: red;
    bottom: -1px;
    right: 0;
    position: absolute;

}
.feature-detail{
    padding: 20px;
    text-align: justify;

}
.banner{
    /* height: 80%; */
    
    height: 100%;
    /* width: 500%; */
    /* padding: 20px; */
    background: linear;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    /* text-align: center; */
    /* color: black; */
    background-image: url(banner2.jpg);
    padding: 12%;
    /* text-align: center; */
}
.banner-heighlight{
    padding: 70px 0;
    background: rgba(0,0 green,0 blue,0.7 alpha);
    text-align: center;
    color: #fff;
    
}
.booking-btn{
    width: 120px;
    /* padding: 0 0; */
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
    margin: 20px;

}
.user-feedback{
    padding: 100px 0;

}
.user-review{
               text-align: center;
               box-shadow: 0 0 10px 0 rgba(0,0 green,100 blue, 0.2alpha);

}
.user-review p{
    padding: 50px 10px 10px 10px ;
}
.user-feedback img{
    /* width: 60px; */
    height: 60px;
    border-radius: 50%;
    /* position: relative; */
    /* margin: -30px 0 10px 40%; */

}
user-review p ::before{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: 44%;
    top: -20px;
}
.footer{
    margin-top: 150px;
    background: #f5f6fc;
}
.payment,.insta-img,.app-download{
    margin: 50px auto;

}
.payment img{
    width: 300px;
    cursor: pointer;

}
.insta-img img{
    width: 75px;
    padding: 5px;
    cursor: pointer;

}
.app-download img{
    width: 200px;
}
.footer h5{
    margin-bottom: 50px;

}
.footer h5 ::before{
    content: '';
    width: 70px;
    height: 3px;
    background: red;
    top: 80px;
    position: absolute;

}
.footer-icon {
    text-align: right;
}
.footer-icon .fa{
    margin: 0 10px auto;
    font-size: 20px;
    cursor: pointer;
}
/* small devices */
@media only screen and (max-width: 900px) {
    .banner img{
        margin: 40px  auto;
        width:  80%;
    
    }
    .banner-title{
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
    }
    .banner-title h1{
        font-size: 16px;
        padding: 5px;
        line-height: 20px;

    }
    .title-style h1{
        /* padding: 20px 0; */
        font-size: 25px;

    }
    .offer img{
           margin-top: 20px !important;
           margin-bottom: 0 !important;
    }
    .footer-icon{
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
}